.footer {
  background-color: var(--primary);
  color: var(--text2);
  padding: 40px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: column; /* Apila el contenido verticalmente */
  align-items: center; /* Centra los elementos */
  max-width: 1200px;
  margin: 0 auto;
}

/* Ajustar el tamaño de fuente para dispositivos móviles */
.footer-logo h2 {
  font-size: 2rem; /* Mantener el tamaño en pantallas grandes */
  font-weight: bold;
  text-transform: uppercase;
  color: var(--tertiary);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px; /* Espaciado debajo del logo */
}

/* Mantener los enlaces en fila */
.footer-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px; /* Espaciado debajo de los enlaces */
  justify-content: center; /* Centra los enlaces */
  flex-wrap: wrap; /* Agregar flex-wrap para que los enlaces se reacomoden en varias líneas en pantallas pequeñas */
}

.footer-links a {
  text-decoration: none;
  color: var(--tertiary);
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links a:hover {
  color: var(--cardTitle);
  transform: scale(1.1);
}

/* Flexbox para iconos sociales */
.footer-social {
  display: flex;
  gap: 20px; /* Espaciado mayor entre los iconos */
  margin-bottom: 20px; /* Espaciado debajo de los iconos */
  justify-content: center; /* Centrar iconos sociales */
  flex-wrap: wrap; /* Agregar flex-wrap para que los iconos se adapten en pantallas pequeñas */
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--cardBackground);
  border-radius: 50%;
  font-size: 20px;
  color: var(--cardText);
  text-decoration: none;
  transition: transform 0.3s, background-color 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
  background-color: var(--cardTitle);
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text2);
}

.footer-bottom p {
  margin: 0;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .footer {
    padding: 20px 10px; /* Reducir padding en dispositivos móviles */
  }

  .footer-logo h2 {
    font-size: 1.5rem; /* Reducir el tamaño de fuente para pantallas pequeñas */
  }

  .footer-links {
    gap: 10px; /* Reducir el espacio entre los enlaces en pantallas pequeñas */
  }

  .social-icon {
    width: 35px; /* Reducir el tamaño de los iconos en pantallas pequeñas */
    height: 35px;
    font-size: 18px;
  }
}
