<div class="ejercicio-paciente">
    <div class="exercise-card">
      <h2>{{ ejercicio.nombre }}</h2>
      <div class="exercise-details">
        <p><strong>Series:</strong> {{ ejercicio.series }}</p>
        <p><strong>Repeticiones:</strong> {{ ejercicio.repeticiones }}</p>
        <p><strong>Descripción:</strong> {{ ejercicio.descripcion }}</p>
      </div>
  
      <div class="exercise-actions">
        <label class="checkbox-container">
      
        <div class="checkbox-wrapper-31">
          <input checked="" type="checkbox" [(ngModel)]="completado">
          <svg viewBox="0 0 35.6 35.6">
            <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
            <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
            <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
          </svg>
        </div>
          <span class="checkmark"></span>
          Marcar como completado
        </label>
  
        <div class="comment-section">
          <textarea 
            [(ngModel)]="comentario" 
            rows="3" 
            placeholder="Escribe tus sensaciones..."
          ></textarea>
        </div>
  
        <button (click)="guardarFeedback()">Guardar Feedback</button>
      </div>
    </div>
  </div>
  