:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background);
  padding: 20px;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

.home-medico {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  color: var(--text);
}

.alertas, .pacientes {
  text-align: center;
}

.alertas h2, .pacientes h2 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 20px;
}

.paciente-lista, .alerta-lista {
  max-height: 400px;  /* Define the height of the scrollable area */
  overflow-y: auto;   /* Enable vertical scroll */
  padding-right: 10px; /* Add a bit of padding for scrollbar */
}

table {
  width: 80%;
  border-collapse: separate; /* Use separate borders to avoid overlap */
  border-spacing: 0; /* Ensure there's no spacing between cells */
  margin: 0 auto;
  background: var(--tertiary);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden; /* Make sure the content doesn't overflow the rounded corners */
  margin-bottom: 10px;
}


th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--primary);
  color: white;
  font-size: 1.1rem;
}

td {
  font-size: 1rem;
  color: var(--text);
}

.btn {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--primaryDark);
}
