<section class="landing-page">
  <div class="landing-container">
    <!-- Header -->
    <header class="landing-header">
      <div>

        <h1>Bienvenidos a <span>TeleRehab</span></h1>
        <p>Transformando la rehabilitación a través de la tecnología.</p>
      </div>
      <div>

        <img src="assets/logo.png" alt="logo">
      </div>
    </header>

    <!-- Quiénes somos -->
    <section class="who-we-are">
      <h2>¿Quiénes somos?</h2>
      <p class="description">
        Somos una plataforma dedicada a facilitar la rehabilitación a través de tecnología innovadora, conectando
        pacientes con profesionales desde cualquier lugar.
      </p>
    </section>

    <!-- Características -->
    <section class="features">
      <div class="feature-item">
        <h3>Acceso fácil desde cualquier lugar</h3>
        <p>Proporcionamos acceso remoto a nuestros servicios de rehabilitación para que puedas avanzar en tu tratamiento en cualquier lugar.</p>
      </div>
      <div class="feature-item">
        <h3>Profesionales capacitados</h3>
        <p>Contamos con un equipo de profesionales expertos en diversas áreas de la salud, listos para ayudarte a recuperar tu bienestar.</p>
      </div>
      <div class="feature-item">
        <h3>Interacción amigable</h3>
        <p>Te ofrecemos una plataforma fácil de usar con interfaces claras y diseñadas para tu comodidad y progreso.</p>
      </div>
    </section>
  </div>
</section>
