.landing-page {
  background-color: var(--background);
  padding: 40px 20px;
}

.landing-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.landing-header {
  margin-bottom: 40px;
}

.landing-header h1 {
  font-size: 3rem;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-header p {
  font-size: 1.2rem;
  color: var(--text);
}

.who-we-are {
  background-color: var(--secondary);
  padding: 40px 20px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.who-we-are h2 {
  font-size: 2.5rem;
  color: var(--text);
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: var(--text);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.feature-item {
  background-color: var(--cardBackground);
  padding: 20px;
  border-radius: 8px;
  color: var(--cardText);
}

.feature-item h3 {
  font-size: 1.6rem;
  color: var(--cardTitle);
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .landing-header h1 {
    font-size: 2.2rem; /* Reducir tamaño del título en pantallas pequeñas */
  }

  .landing-header p {
    font-size: 1rem; /* Reducir el tamaño del párrafo */
  }

  .who-we-are h2 {
    font-size: 2rem; /* Reducir el tamaño del subtítulo */
  }

  .description {
    font-size: 1rem; /* Reducir el tamaño del texto de la descripción */
  }

  .features {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
  }

  .feature-item {
    padding: 15px; /* Reducir padding en las tarjetas */
  }

  .feature-item h3 {
    font-size: 1.4rem; /* Reducir el tamaño del título en las características */
  }

  .feature-item p {
    font-size: 0.9rem; /* Reducir el tamaño del texto en las características */
  }
}
