/* General landing page styles */
.landing-page {
  background-color: var(--background);
  font-family: 'Arial', sans-serif;
  padding: 60px 20px;
}

.landing-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* Header Section */
.landing-header {
  background: var(--secondary);
  color: #ffffff;
  padding: 50px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: var(--sombra); /* Se usa la variable de CSS */

  display: flex;
  flex-direction: row; /* Hace que los elementos se alineen verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Alinea el texto dentro del div */
}

.landing-header img {
  max-width: 150px; /* Establece un tamaño máximo para la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-top: 20px; /* Opcional, para agregar espacio entre el texto y la imagen */
}


.landing-header h1 {
  font-size: 3rem;
  color: #5d5f61;
  font-weight: bold;
  margin-bottom: 15px;
}

.landing-header h1 span {
  color: #3695c8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.269); /* Sombra sutil */
}


.landing-header p {
  font-size: 1.2rem;
  opacity: 0.9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.361); /* Sombra sutil */
}

/* "Quiénes somos" Section */
.who-we-are {
  background: #eceff4;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: var(--sombra); /* Se usa la variable de CSS */
  margin-bottom: 40px;
}

.who-we-are h2 {
  font-size: 2.5rem;
  color: #2e3440;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: #4c566a;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* Features Section */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.feature-item {
  background: #d0dce6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--sombra); /* Se usa la variable de CSS */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 1);
}

.feature-item h3 {
  font-size: 1.6rem;
  color: #2e3440;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
  line-height: 1.5;
  color: #4c566a;
}

/* Media Queries */
@media (max-width: 768px) {
  .landing-header h1 {
    font-size: 2.5rem;
  }

  .landing-header p {
    font-size: 1rem;
  }

  .who-we-are h2 {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .feature-item {
    padding: 15px;
  }
}
