/* Estilo general del contenedor principal */
:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
}

.plan-ejercicios {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
}

.plan-rehabilitacion-paciente {
  background-color: var(--cardBackground);
  border-radius: 10px;
  width: 100%;
  box-shadow: var(--sombra);
  max-width: 600px;
  color: black;


}

.plan-header {
  text-align: center;
  margin-bottom: 3rem;
}

.plan-header h2 {
  font-size: 2rem;
  color: var(--cardTitle);
  margin-bottom: 1rem;
}

.plan-header p {
  font-size: 1.1rem;
  color: var(--cardText);
}

.plan-ejercicios {
  margin-top: 2rem;
}

.plan-ejercicios h3 {
  font-size: 1.6rem;
  color: var(--cardTitle);
  margin-bottom: 1.5rem;
}

.plan-ejercicios ul {
  list-style-type: none;
  padding: 0;
}

.ejercicio-info {
  font-size: 1.1rem;
  color: var(--cardText);
}

.ejercicio-info p {
  margin: 5px 0;
}

/* Estilo específico para los checkboxes */
input[type="checkbox"] {
  accent-color: initial; /* Mantiene el estilo del checkbox sin cambios */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .plan-rehabilitacion-paciente {
      padding: 1.5rem;
  }

  .plan-header h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
  }

  .plan-header p {
      font-size: 1rem;
  }

  .plan-ejercicios h3 {
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
  }

  .ejercicio-info {
      font-size: 1rem;
  }
}
