.header {
    background-color: var(--primary);
    color: var(--text2);
    padding: 2rem 4rem; /* Cambié a unidades relativas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
  
  .header-logo h1 {
    font-size: 2.5rem; /* Ajusté el tamaño de la fuente */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--tertiary);
  }
  
  .header-actions {
    display: flex;
    gap: 2rem; /* Ajusté el espacio entre los botones */
  }
  
  .btn {
    position: relative;
    padding: 1.2rem 2.4rem; /* Cambié a unidades relativas */
    font-size: 1.15rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--tertiary);
    transition: width 0.3s ease;
  }
  
  .btn:hover::after {
    width: 100%;
  }
  
  .btn:hover {
    color: var(--tertiary);
  }
  
  /* Botones específicos */
  .home-btn {
    color: var(--tertiary);
  }
  
  .communication-btn {
    color: var(--tertiary);
  }
  
  .progress-btn {
    color: var(--tertiary);
  }
  
  .rehab-btn {
    color: var(--tertiary);
  }
  
  .logout-btn {
    color: var(--tertiary);
  }
  
  .logout-btn:hover {
    color: var(--tertiary);
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .header {
      padding: 1.5rem 2rem; /* Reduce el padding en pantallas pequeñas */
    }
  
    .header-container {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
      align-items: center;
      gap: 1.5rem; /* Reduce el espacio entre elementos */
    }
  
    .header-logo h1 {
      font-size: 2rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
  
    .header-actions {
      gap: 1.2rem; /* Reduce el espacio entre los botones */
    }
  
    .btn {
      padding: 1rem 2rem; /* Reduce el padding de los botones */
      font-size: 1rem; /* Reduce el tamaño de la fuente de los botones */
    }
  }
  