<div class="selected-alerta">
    <div *ngIf="selectedAlerta">
      <div class="header">
        <h1>Alerta Seleccionada</h1>
      </div>
  
      <div class="details">
        <div class="section">
          <h2>Detalles de la Alerta</h2>
          <p><strong>Tipo:</strong> {{ selectedAlerta.tipo }}</p>
          <p><strong>Fecha:</strong> {{ selectedAlerta.fecha | date }}</p>
          <p><strong>Descripción:</strong> {{ selectedAlerta.descripcion }}</p>
          <p><strong>DNI del Paciente:</strong> {{ selectedAlerta.dni }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!selectedAlerta">
      <p>No hay ninguna alerta seleccionada.</p>
    </div>
  </div>
  