.mensaje-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  margin-bottom: 5%;
  
}

.messages-area {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 20px;
}

.message {
  max-width: 80%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.message.recibido {
  background-color: var(--cardBackground); /* Verde para el mensaje recibido */
  color: #fff;
  align-self: flex-start; /* Alineación a la izquierda */
  border-bottom-left-radius: 0;
}

.message.enviado {
  background-color: var(--secondary); /* Azul para el mensaje enviado */
  color: #fff;
  /* a la derecha del todo */
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.form-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: var(--cardBackground2);
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}

input[type="text"]:focus {
  outline: none;
  background-color: var(--cardBackground);
}

.send-button {
  width: 45px;
  height: 45px;
  background-color: var(--primary);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: var(--secondary);
}

.send-button:focus {
  outline: none;
}

.send-button i {
  color: white;
  font-size: 20px;
}

.loader {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header {
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .mensaje-container {
    padding: 15px;
    max-width: 90%;
  }

  .message {
    font-size: 12px;
    padding: 8px;
  }

  .form-container {
    flex-direction: column;
    align-items: stretch;
  }

  input[type="text"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .send-button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
  }

  .chat-header {
    font-size: 16px;
  }
}
