<div class="mensaje-container">
  <div class="chat-header">
    Chat con {{ doctorName }}
  </div>

  <div class="messages-area">
    <div *ngFor="let message of messages" [ngClass]="{'message': true, 'paciente': message.sender === 'paciente', 'medico': message.sender === 'medico'}">
      <div class="message-content">
        {{ message.content }}
      </div>
      <div class="message-time">
        {{ message.timestamp | date: 'short' }}
      </div>
    </div>
  </div>

  <div class="form-container">
    <input type="text" [(ngModel)]="newMessage" placeholder="Escribe un mensaje..." (keyup.enter)="sendMessage(newMessage)" />
    <button class="send-button" (click)="sendMessage(newMessage)">
      <i class="fa fa-paper-plane"></i> <!-- Icono de flecha -->
    </button>
  </div>
</div>
