.mensaje-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: var(--sombra); /* Se usa la variable de CSS */
  margin-top: 5%;
  margin-bottom: 5%;
  
}



.messages-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  
  margin-bottom: 20px;
}


.message {
  max-width: 70%; /* Ancho máximo del mensaje */
  width: fit-content; /* Se ajusta solo al contenido */
  margin-bottom: 8px; /* Espacio entre mensajes */
  padding: 8px 12px; /* Espacio interno ajustado */
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word; /* Rompe palabras largas */
}

.message.recibido {
  background-color: var(--cardBackground); /* Color de mensajes recibidos */
  color: #fff;
  align-self: flex-start; /* Alinea a la izquierda */
  margin-left: 0;
  margin-right: auto; /* Empuja hacia la derecha */
  border-bottom-left-radius: 0;
}

.message.enviado {
  background-color: var(--secondary); /* Color de mensajes enviados */
  color: #fff;
  align-self: flex-end; /* Alinea a la derecha */
  margin-right: 0;
  margin-left: auto; /* Empuja hacia la izquierda */
  border-bottom-right-radius: 0;
}



.form-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: var(--cardBackground2);
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}

input[type="text"]:focus {
  outline: none;
  background-color: var(--cardBackground);
}

.send-button {
  width: 45px;
  height: 45px;
  background-color: var(--primary);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: var(--secondary);
}

.send-button:focus {
  outline: none;
}

.send-button i {
  color: white;
  font-size: 20px;
}

.loader {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header {
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .mensaje-container {
    padding: 15px;
    max-width: 90%;
  }

  .message {
    font-size: 12px;
    padding: 8px;
  }

  .form-container {
    flex-direction: column;
    align-items: stretch;
  }

  input[type="text"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .send-button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
  }

  .chat-header {
    font-size: 16px;
  }
}
