<div class="mensaje-container">
  <div class="chat-header">
    Chat 
  </div>

  <div class="messages-area">
    <div *ngIf="messages && messages.length > 0">
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          'message': true,
          'recibido': message.remitente !== usertypeUpper ,
          'enviado': message.remitente === usertypeUpper
        }"
      >
        <div class="message-content">
          {{ message.contenido }}
        </div>
        <div class="message-time">
          {{ message.fechaEnvio ? (message.fechaEnvio | date: 'short') : 'Hora no disponible' }}
        </div>
      </div>
    </div>
    <div *ngIf="messages && messages.length === 0">
      No hay mensajes aún.
    </div>
    <div *ngIf="!messages">
      Cargando mensajes...
    </div>
  </div>

  <div class="form-container">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Escribe un mensaje..."
    />
    <button class="send-button" (click)="sendMessage()">
      <i class="fa fa-paper-plane"></i>
    </button>
  </div>
</div>
