<div class="videollamada-container">
    <!-- Sección de video -->
    <div class="videollamada-video">
      <video class="video-local" autoplay muted></video>
      <video class="video-remote" autoplay></video>
    </div>
  
    <!-- Controles de llamada -->
    <div class="videollamada-controles">
      <button class="btn-control" (click)="toggleCamera()">
        📷 <span *ngIf="cameraOn">Apagar Cámara</span><span *ngIf="!cameraOn">Encender Cámara</span>
      </button>
      <button class="btn-control" (click)="toggleMicrophone()">
        🎤 <span *ngIf="microphoneOn">Silenciar</span><span *ngIf="!microphoneOn">Activar Micrófono</span>
      </button>
      <button class="btn-control btn-end" (click)="endCall()">
        🚫 Finalizar Llamada
      </button>
    </div>
  </div>
  