.header {
    background-color: var(--primary);
    color: var(--text2);
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--tertiary);
}

.header-actions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los botones se distribuyan en múltiples líneas si es necesario */
    justify-content: flex-end; /* Alinea los botones a la derecha */
}

.btn {
    position: relative;
    padding: 12px 24px;
    font-size: 1.15rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease;
}

.btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--tertiary);
    transition: width 0.3s ease;
}

.btn:hover::after {
    width: 100%;
}

.btn:hover {
    color: var(--tertiary);
}

/* Botones específicos */
.home-btn,
.communication-btn,
.progress-btn,
.rehab-btn,
.logout-btn {
    color: var(--tertiary);
}

.logout-btn:hover {
    color: var(--tertiary);
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
    }

    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .header-actions {
        flex-direction: row; /* Asegura que los botones se alineen en una fila */
        gap: 10px;
        width: 100%;
        justify-content: flex-start; /* Alinea los botones a la izquierda */
        flex-wrap: wrap; /* Los botones se ajustan a nuevas líneas si no hay espacio suficiente */
    }

    .btn {
        font-size: 1rem;
        padding: 10px 20px;
        width: auto; /* Ajusta el ancho de los botones */
    }
}
