<!-- home-medico.component.html -->
<div class="home-medico">
  <div class="header">
    <h1>Bienvenido, {{ nombre }}</h1>
    <p>Gestiona tus pacientes.</p>
  </div>

  <div class="contenido">
    <div class="pacientes">
      <h2>Tus Pacientes</h2>
      <div class="paciente-lista">
        <table>
          <thead>
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Acción</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of pacientes">
              <td>{{ paciente.dni }}</td>
              <td>{{ paciente.nombre }}</td>
              <td>{{ calcularEdad(paciente.fechaNacimiento) }} años</td>
              <td>
                <button class="btn" (click)="selectPatient(paciente)">Ver detalles</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
