<!-- Header Paciente -->
<header class="header">
    <div class="header-container">
      <div class="header-logo">
        <h1>TeleRehab Paciente</h1>
      </div>
      <div class="header-actions">
        <button class="btn communication-btn">Comunicación</button>
        <button class="btn progress-btn" routerLink="/progreso">Progreso</button>
        <button class="btn rehab-btn" (click)="goToRehabilitacion()">Rehabilitación</button>
        <button class="btn logout-btn" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </header>