/* From Uiverse.io by milley69 */
/* posicion absoluta en el centro de la pantalla y por encima de todo */
.loading {
  /* fondo negro transparente suave */
  

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #00000055;
}

.loading svg polyline#front {
  fill: none;
  stroke: #2f6abc;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

/* Media query para ajustar el tamaño del SVG en pantallas pequeñas */
@media (max-width: 768px) {
  .loading svg {
    width: 80%; /* Ajustar el tamaño del SVG al 80% del ancho disponible */
    height: auto; /* Mantener la proporción del alto automáticamente */
  }

  .loading svg polyline {
    stroke-width: 2; /* Reducir el grosor del trazo en pantallas pequeñas */
  }
}
