.login-container {
  background: var(--cardBackground);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  max-width: 500px; /* Ancho máximo para pantallas grandes */
  margin: 5% auto;
  color: var(--cardText);
  backdrop-filter: blur(8px); /* Efecto de desenfoque */
  border: 1px solid rgba(44, 44, 44, 0.2);
}

.login-container h2 {
  color: var(--cardTitle);
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 1rem;
  color: var(--cardText);
  margin-bottom: 5px;
  display: block;
}

input.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--cardInput);
  font-size: 1rem;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

input.form-control::placeholder {
  color: var(--cardInputText); /* Texto placeholder translúcido */
}

.btn-login {
  width: 100%;
  padding: 10px;
  background: var(--primary);
  color: var(--text2);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-login:disabled {
  background: var(--secondary);
  cursor: not-allowed;
}

.btn-login:hover:not(:disabled) {
  background: var(--secondary);
  transform: translateY(-2px); /* Efecto de elevación */
}

.register-prompt {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text);
}

.register-link {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: var(--secondary);
  text-decoration: underline;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .login-container {
    padding: 15px;
    margin: 10% auto; /* Ajuste para mayor espacio superior e inferior */
    max-width: 90%; /* Ajustar el ancho máximo al 90% en pantallas pequeñas */
  }

  .btn-login {
    padding: 12px; /* Aumentar ligeramente el padding para mejor usabilidad */
  }

  input.form-control {
    padding: 8px; /* Reducir padding en campos de entrada */
    font-size: 0.9rem; /* Ajustar el tamaño de fuente */
  }

  .login-container h2 {
    font-size: 1.8rem; /* Reducir tamaño de fuente del título */
  }

  .register-prompt {
    font-size: 0.85rem; /* Reducir tamaño del texto de registro */
  }
}

/* Media query para pantallas grandes (como laptops) */
@media (min-width: 1024px) {
  .login-container {
    padding: 30px;
    margin: 5% auto;
    max-width: 600px; /* Ajuste del ancho máximo en pantallas grandes */
  }

  .btn-login {
    padding: 15px;
  }

  input.form-control {
    padding: 12px; /* Aumentar padding para más comodidad */
    font-size: 1rem; /* Asegurar que la fuente sea consistente */
  }

  .login-container h2 {
    font-size: 2rem; /* Título más grande */
  }

  .register-prompt {
    font-size: 1rem; /* Aumentar tamaño de texto */
  }
}
