<div class="home-paciente">
    <section class="welcome">
      <h1>¡Hola, paciente!</h1>
      <p>Continúa avanzando en tu rehabilitación con los ejercicios asignados y consulta tu progreso.</p>
    </section>
  
    <section class="progress">
      <h2>Tu progreso</h2>
      <div class="progress-cards">
        <div class="card">
          <h3>Ejercicios completados</h3>
          <p>10/15 esta semana</p>
        </div>
        <div class="card">
          <h3>Próxima cita</h3>
          <p>Miércoles, 6 de diciembre</p>
        </div>
      </div>
    </section>
  
    <app-plan-rehabilitacion-paciente></app-plan-rehabilitacion-paciente>



  </div>
  