/* Estilo general del contenedor principal */
.plan-rehabilitacion-medico {

  width: 80%;
  margin: 5% auto;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--cardBackground);
  box-shadow: var(--sombra); /* Sombra sutil alrededor de la tabla */
  color: var(--cardText);
  font-family: 'Roboto', sans-serif;

}

.plan-rehabilitacion-medico h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--cardTitle);
  margin-bottom: 20px;
}

.plan-rehabilitacion-medico h3,
.plan-rehabilitacion-medico h4 {
  font-size: 1.5rem;
  color: var(--cardTitle);
  margin-top: 20px;
}

/* Estilo para inputs y textarea */
.plan-rehabilitacion-medico .input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333;
}

/* Botones generales */
.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}





/* Lista de ejercicios */
.plan-rehabilitacion-medico .plan-ejercicios ul {
  list-style: none;
  padding: 0;
}

.plan-rehabilitacion-medico .plan-ejercicios .ejercicio-item {
  background-color: var(--secondary);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  color: rgb(62, 62, 62);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plan-rehabilitacion-medico .plan-ejercicios .ejercicio-item strong {
  font-size: 1.2rem;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.plan-rehabilitacion-medico .plan-ejercicios .ejercicio-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

/* Estilo para el formulario de edición de ejercicios */
.plan-rehabilitacion-medico .ejercicio-editar label {
  font-size: 1rem;
  color: red;
  margin-top: 10px;
  display: block;
}

.plan-rehabilitacion-medico .ejercicio-editar .acciones-editar {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

/* Estilo para el formulario de nuevo ejercicio */
.plan-rehabilitacion-medico .nuevo-ejercicio label {
  font-size: 1rem;
  color: var(--cardText);
  margin-top: 10px;
  display: block;
}

.plan-rehabilitacion-medico .nuevo-ejercicio button {
  margin-top: 15px;
  width: 100%;
}




/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .plan-rehabilitacion-medico {
      width: 95%;
      padding: 20px;
  }

  .plan-rehabilitacion-medico h2 {
      font-size: 1.8rem;
  }

  .plan-rehabilitacion-medico h3, .plan-rehabilitacion-medico h4 {
      font-size: 1.3rem;
  }

  .plan-rehabilitacion-medico .input {
      font-size: 0.9rem;
  }

 

}
